.body {
    background-color: #EAEAEA;
}
/* Form Login */

.login {
    margin-top: 40px;
}

.login h2 {
    margin-bottom: 30px;
}

.boxed {
    background-color: #fff;
    padding: 60px 40px 20px;
}

.boxed .input-group {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxed .form-control,
.boxed .btn {
    border-radius: 2px;
}

.boxed .input-group .form-control {
    height: 45px;
}

.boxed .btn {
    margin-top: 35px;
    padding: 10px;
}

.input-group-addon {
    width: 45px;
}
/* End Form Login*/
/* home page */

.home-page {}

nav.fixed-bar {
    background: #2C3E50;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px;
}

.title-site {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-site a {
    color: #fff;
}

.content {
    margin-top: 60px;
}

.footer {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
/* end home page */

/* admin page */
span.user {
    color: #fff;
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
}
